<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  @for (cliente of clientes; track cliente.id) {

    <ion-card>
      <ion-card-header>
        <ion-card-title> 👤 {{ cliente.nombre }} </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card-content>
      <p>Estado: {{ cliente.estado }} </p>
      <p>Fecha de Pago: {{ cliente.fechaPago }}</p>
      <p>Cuota: {{ cliente.cuota }}</p>
      <p>Monto: $ {{ cliente.monto }}</p>
      <p>Tipo de Pago: {{ cliente.tipoPago }}</p>
      <p>Celular: 📱{{ cliente.celular }}</p>
    </ion-card-content>
  }


</ion-content>