<ion-header class="ion-page">
  <ion-toolbar color="primary">
    <ion-title>Gym Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="dashboard-header">
      <h2>¡Bienvenido César! 👋</h2>
      <p>Resumen del gimnasio</p>
  </div>

<ion-grid>
     <!-- 👥 CLIENTES -->
     <h2 class="section-title">👥 Clientes</h2>

  <ion-row>
    @for (card of cards; track card.titulo) {
      @if (card.seccion === 'clientes') {
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
          <ion-card [color]="card.color" [routerLink]="card.ruta" [class.card-clickable]="card.ruta">
            <ion-card-header>
              <ion-card-title>
                <ion-icon [name]="card.icono"></ion-icon>
                {{ card.titulo }}
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <h1>{{ card.valor }}</h1>
              <p>{{ card.descripcion }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    }
  </ion-row>


  <!-- 👨‍🏫 PROFESORES -->
  <h2 class="section-title">👨‍🏫 Profesores</h2>

  <ion-row>
    @for (card of cards; track card.titulo) {
      @if (card.seccion === 'profesores') {
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
          <ion-card [color]="card.color" [routerLink]="card.ruta" [class.card-clickable]="card.ruta">
            <ion-card-header>
              <ion-card-title>
                <ion-icon [name]="card.icono"></ion-icon>
                {{ card.titulo }}
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <h1>{{ card.valor }}</h1>
              <p>{{ card.descripcion }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    }
  </ion-row>


  <!-- 💰 FINANZAS -->
  <h2 class="section-title">💰 Finanzas</h2>

  <ion-row>
    @for (card of cards; track card.titulo) {
      @if (card.seccion === 'finanzas') {
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
          <ion-card [color]="card.color" [routerLink]="card.ruta" [class.card-clickable]="card.ruta">
            <ion-card-header>
              <ion-card-title>
                <ion-icon [name]="card.icono"></ion-icon>
                {{ card.titulo }}
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <h1>{{ card.valor }}</h1>
              <p>{{ card.descripcion }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    }

    </ion-row>
</ion-grid>
</ion-content>
