<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Profesores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Horarios Profesores 👋</h2>
  <p>Administración de profesores</p>

  <!--AGREGAR PROFESOR-->
  <ion-card class="ion-margin-top">

    <ion-card-header>
      <ion-card-title> ➕ Agregar profesor</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <!--NOMBRE-->
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre" placeholder="Ej: Profesor César"></ion-input>
      </ion-item>

      <!--CELULAR-->
      <ion-item>
        <ion-label position="stacked">Celular</ion-label>
        <ion-input type="tel" [(ngModel)]="celular" placeholder="Ej: 3492 123456"></ion-input>
      </ion-item>

      <!--ESPECIALIDAD-->
      <ion-item>
        <ion-label position="stacked">Especialidad</ion-label>
        <ion-input type="text" [(ngModel)]="especialidad" placeholder="Ej: Musculación"></ion-input>
      </ion-item>

      <!--TIPO REMUNERACIÓN-->
      <ion-item>
        <ion-label>Tipo de remuneración</ion-label>

        <ion-select [(ngModel)]="tipoRemuneracion">
          <ion-select-option [value]="TipoRemuneracion.POR_HORA">Por hora</ion-select-option>
          <ion-select-option [value]="TipoRemuneracion.SUELDO_FIJO">Sueldo fijo</ion-select-option>
          <ion-select-option [value]="TipoRemuneracion.POR_CLASE">Por clase</ion-select-option>
          <ion-select-option [value]="TipoRemuneracion.POR_COMISION">Por comisión</ion-select-option>
        </ion-select>
      </ion-item>

      <!--VALOR HORA-->
      <ion-item>
        <ion-label position="stacked">Valor hora</ion-label>

        <ion-input type="number" [(ngModel)]="valorHora"></ion-input>
      </ion-item>

      <!--SUELDO-->
      <ion-item>
        <ion-label position="stacked">Sueldo</ion-label>

        <ion-input type="number" [(ngModel)]="sueldo"></ion-input>
      </ion-item>

      <!--ESTADO-->
      <ion-item>
        <ion-label>Estado</ion-label>

        <ion-select [(ngModel)]="estado">
          <ion-select-option [value]="EstadoProfesor.ACTIVO">Activo</ion-select-option>
          <ion-select-option [value]="EstadoProfesor.INACTIVO">Inactivo</ion-select-option>
        </ion-select>
      </ion-item>

      <!--BOTÓN-->
      <ion-button expand="block" color="success" class="ion-margin-top" (click)="agregarProfesor()">
        {{
          profesorEditandoId !== null
          ?  '✏️ Actualizar profesor' : '💾 Guardar profesor'
        }}
      </ion-button>

    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>

      @for (profesor of profesores; track profesor.id) {
       <ion-col size="6">
        <ion-card [color]="profesor.color">
          <ion-card-header>
            <ion-card-title> {{ profesor.icono }} {{ profesor.nombre}}</ion-card-title>
          </ion-card-header>
            <ion-card-content>
              <h5> 📱 {{ profesor.celular }}</h5>
              <h5> 🏋️ {{ profesor.especialidad }}</h5>
              <h5>  💰 Valor hora: ${{ profesor.valorHora }}</h5>
              <h5> 💵 Sueldo: ${{ profesor.sueldo }}</h5>

              <ion-button expand="block" color="primary" (click)="editarProfesor(profesor)">✏️ Editar</ion-button>
            </ion-card-content>
        </ion-card>
      </ion-col>
      }

    </ion-row>
  </ion-grid>
</ion-content>






